.application-details {
    display: flex;
    flex-direction: column;

    padding: 50px 0px 80px 80px;
    gap: 40px;
}

.topic-text {
    height: 34px;
    font-family: 'Golos', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.05em;
    color: #2B2A29;
}


.bold-text {
    width: 69px;
    height: 24px;
    font-family: 'Golos', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    display: flex;
    align-items: center;
}

.two-columns {
    display: flex;
    padding: 10px 0 10px 0;
}
.half-transparent-text {
    font-family: 'Golos', serif;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0,0,0,0.50);
    width: 300px;
}
.regular-text {
    font-family: 'Golos', serif;
    font-size: 20px;
    line-height: 24px;
    margin-left: 20px;
    width: 500px;
    overflow: auto;

}
hr.solid {
    border-top: 3px solid #bbb;
}
.top-bottom-20 {
    padding: 20px 0 20px 0;
}

